body {
  background: rgb(136, 112, 175);
}
h1 {
  text-align: center;
  margin-top: 80px;
  color: rgb(54, 47, 66);
  font-size: 56px;
}
h2 {
  margin-top: 40px;
  margin-left: 50px;
  color: rgb(245, 206, 31);
  font-size: 32px;
  font-style: italic;
}
p {
  text-align: center;
  margin-top: 10px;
  color: rgb(54, 47, 66);
  font-size: 28px;
}
.contain {
  display: flex;
  justify-content: center;
}
.link a {
  margin: 20px 30px 80px 30px;
  color: rgb(245, 206, 31);
  font-size: 20px;
}
.text {
  color: rgb(54, 47, 66);
  font-size: 20px;
  margin: 10px 50px;
  font-weight: bold;
}
.container {
  margin: 40px auto;
}
.email {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  color: rgb(54, 47, 66);
  font-size: 32px;
  font-weight: bold;
}
.email a {
  color: rgb(73, 162, 141);
}
img {
  width: 100%;
  aspect-ratio: 1/0.6;
  grid-gap: 6px;
  margin: 6px 0;
}
